nav{
	display: inline-block;
}
li{
	display: inline-block;
	margin-right: 35px;
	margin-top: 21px;
	color: black;
}
h1{
   
    margin-top: 42px;
}
.fdf{
	display: inline-block;
	margin-top: 80px;
} 

.perent {
	display: inline-block;
	position: relative;
   margin-right: 30px;
}
h2 {
    font-size: 30px;
    color:wheat;
    position: absolute;
    top: 30%;
    left: 20%;


}
.gf{ display: block;

	

	

}